:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f7fb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: #f5f7fb;
  --box-color: #ffffff;
  --text-color: #33394c;
  --primary-color-1: #4e7cff;
  --primary-color-2: #7033ff;
  --primary-color-3: #f65164;
}

body {
  margin: 0;
  min-width: 500px;
  min-height: 100vh;
}
